/* Navbar */
#navbar{
    background-color:#05668D;
    height: 35px;
    position:sticky;
    display: flex;
    justify-content: space-between;
}
#appname{
    margin-left: 2px;
    margin-top: 2px;
}
#appname:hover{
    color: aqua;
}
#count-container{
    font-size: 15px;
    color: #F2BAC9;
    margin-top: 3px;
    margin-right: 3px;
}
.navtext{
    color: #F7AF9D;
}
.countText{
    font-size: 12px;
    font-family: 'Tangerine', Times, serif;
}
*{
    margin: 0;
    border: border-box;
}
.postnumber{
    color: #F3EEC3;
    font-size:12px;
}

/* main block */

#mainblock{
    display: flex;
    flex-direction: row;
    flex:initial;
   
}
.title-content{
    /* flex: 7; */
    flex-grow: 3;
    margin-left: 60px;
    /* margin-right: 60px; */
    /* padding-right: 100px; */
    background-color: #fbfbfb;
    /* text-align: center; */
}
.latestpost{
    flex-grow:1;
    background-color: rgb(250, 246, 246);
}

.nameblock{
    text-align: center;
}


div.title{
    margin-top: 4px;
    color:#043244;
    margin-left: 40px;
    font-size: 30px;
    padding: 10px 10px 5px 10px;
    
}
#titlelink{
    text-decoration: none;
    font-family: 'Tangerine', Times, serif;
    color:#2c3e49;
}
#titlelink:hover{
    color: cadetblue;   
}
.tags{
    color: #493a3e;
    font-size: 12px;
    padding-top: 1px;
    padding-bottom: 5px;
    margin-left: 60px;
    font-family: 'Tangerine', Times, serif;
}
#body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 8px;
    font-weight:100;
    padding-left: 30px;
    padding-right: 30px;
}
/* pagenation block */
.ppage{
    margin-top: 15px;
    background-color: #05668D;
    display: flex;
    height: 25px;
    text-align: center;
    justify-content: space-evenly;
    padding: 3px 3px 3px 3px;
    padding-top: 6px;
}

.page-btn{
    margin-left: 8px;
    background-color: rgb(95, 167, 150);
    border-radius:15px;
}


.page-cont{
    display: flex;
    /* justify-content: space-evenly; */
}
.page-num{
    margin-left: 200px;
    margin-right: 200px;
}