{% load static %}
{% load blogtags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script> src="{% static 'blog/js/jquery.js' %}"</script>
</head>

<body>
  <div id="navbar">
    <h2 id="appname" class="navtext">Blog app</h2>
    <div id="count-container" class="navtext">
      <ul class="countText">
        Total blogs:
        <span class="postnumber">{% total_posts %}</span>
      </ul>
      <ul class="countText">
        Published blogs:
        <span class="postnumber">{% published_posts %}</span>
      </ul>
    </div>
  </div>

  <div id="mainblock" class="divs">
    <div class="title-content">
      {% block title %}{% endblock title %}
      {% block Content %}{% endblock Content %}
    </div>
    <div class="latestpost">
      {% block latestposts %}
      <h4>Latest Posts</h4>
      <ul>
        <li>{% latest_post1 %}</li>
        <li>{% latest_post2 %}</li>
        <li>{% latest_post3 %}</li>
        <li>{% latest_post4 %}</li>
        <li>{% latest_post5 %}</li>
        {{show_latest_post}}
      </ul>

      {% endblock latestposts %}
    </div>
  </div>
  {% block CommentsBlock %}{% endblock CommentsBlock %}
  {% block comment_form%}{% endblock comment_form %}
  {% block addnewpost %}

  {% endblock addnewpost %}
  {% block similar_posts %}{% endblock similar_posts %}
  <div class="rss_FEED">
    <i class="fa fa-rss"></i>
    <p><a href="{{ 'blog:post_feed' }}">Subscribe to my rss feeds</a></p>
  </div>
</body>
<script>
  $(document).on("submit", "#comment_form", function (e) {
    e.preventDefault();
    var postUrl = $(this).data("post-url"); // Get the post's absolute URL from the form's data attribute

    $.ajax({
        type: "POST",
        url: postUrl, // Use the post's absolute URL in the AJAX request
        data: {
            name: $("#name").val(),
            email: $("#email").val(),
            body: $("#body").val(),
            csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
        },
        success: function () {
            $("#comment_form").html("<p>Comment added successfully</p>");
            // Handle success response
        },
        error: function (xhr, status, error) {
            // Handle error response
        },
    });
});

</script>

</html>