{% load static %}
{% load blogtags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="sidebar">
        <h2>My Blog app</h2>
        <h4>Total i wrote {% total_posts %} blogs in my application where {% published_posts %}</h4>
    </div>

    {% block title %}{% endblock title %}
    <div id="content">
        {% block Content %}
        {% endblock Content %}
    </div>

    <div class="comments">
        {% block CommentsBlock %}
          
        {% endblock CommentsBlock %}
    </div>


    <div class="commentform">
        {% block comment_form %}
          
        {% endblock comment_form %}
    </div>

    <div class="similarPost">
        {% block similar_posts %}
            
        {% endblock similar_posts %}
    </div>

</body>
</html>