{% extends "blog/base.html" %}
{% load blogtags %}
{% block title %}
    <div class="detail-post">
        <p  class="post-block" id="dt-title">{{ post.title }}</p>
        <p class="post-block" id="dt-author"> Written by:{{ post.author }}</p>
        <p  class="post-block" id="dt-body">{{ post.body}}</p>
    </div>
{% endblock title %}


{% block CommentsBlock %}

    <div class="comment-section">
        <p id="comments-heading">Comments: </p>
        {% for c in comments  %}
        <div class="comment-name"> Written by {{ c.name}} <span class="comment-date">{{ c.created }}</span></div>
        <div class="comment-body">{{ c.body }}</div>
        {% endfor %}
        {% include "blog/post/commentPaginattion.html" %}
    </div>

{% endblock CommentsBlock %}


{% comment %}
    <div class="comments">
        {% with comments.count as total_comments %}
            <p>{{ total_comments }} comment{{ total_comments|pluralize }}</p>
        {% endwith %}

        {% for comment in comments %}
            <div class="info">
                <p>
                    Comment {{ forloop.counter }} by {{ comment.name | linebreaks }}{{ comment.created }}
                </p>
                <p>{{ comment.body|safe }}</p>
            </div>
        {% empty %}
            <p>There are no comments</p>
        {% endfor %}
    </div>
{% endcomment %}


{% block comment_form %}
    <form id="comment_form" data-post-url="{{ post.get_absolute_url }}">
        {% csrf_token %}
        <input type="text" id="name" placeholder="name">
        <input type="email" id="email" placeholder="email">
        <input type="text" id="body" placeholder="body">
        <input type="submit" id="commentsubmit" placeholder="add comment" value="submit">
    </form>
{% endblock comment_form %}

{% block similar_posts %}
    <h2>Similar posts</h2>
    {% for post in similar_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
    {% empty %}
        <p>There are no similar posts yet.</p>
    {% endfor %}
{% endblock similar_posts %}