{% extends "blog/base.html" %}

{% block title %}
    {{ post.title }}
    <div class="body">
        {{ post.body }} {{ post.author }}
    </div>
{% endblock title %}

{% block CommentsBlock %}
    {% with comments.count as total_comments %}
        {{ total_comments }} comment{{ total_comments|pluralize }}
    {% endwith %}

    {% for comment in comments %}
        <div class="info">
            <p>
                Comment {{ forloop.counter }} by {{ comment.name | linebreaks }}
                        {{ comment.created }}
            </p>
            {{ comment.body | linebreaks }}
        </div>
    {% empty %}
        There are no comments
    {% endfor %}

{% endblock CommentsBlock %}


{% block comment_form %}
  {% if new_comment %}
    <h3>Your comment has been added</h3>
  {% else %}
  <form action="{{ post.get_absolute_url }}" method="POST">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Add comment">  <!-- Changed input type to "submit" -->
    </form>
  {% endif %}
{% endblock comment_form %}