{% extends "blog/base.html" %}
{% load blogtags %}

{% block title %}
    {{ post.title }}
    <div class="body">
        {{ post.body }} {{ post.author }}
        {{ post.body|markdown }}
    </div>
{% endblock title %}


<h2>Similar Posts</h2>
{% for post in similar_posts %}
<p>
    <a href="{{ post.get_absolute_url}}"></a>"
</p>
{% empty %}
there are no similar_posts
{% endfor %}

{% block CommentsBlock %}
    {% with comments.count as total_comments %}
        {{ total_comments }} comment{{ total_comments|pluralize }}
    {% endwith %}

    {% for comment in comments %}
        <div class="info">
            <p>
                Comment {{ forloop.counter }} by {{ comment.name | linebreaks }}
                        {{ comment.created }}
            </p>
            {{ comment.body | linebreaks }}
        </div>
    {% empty %}
        There are no comments
    {% endfor %}

{% endblock CommentsBlock %}


{% block comment_form %}
  {% if new_comment %}
    <h3>Your comment has been added</h3>
  {% else %}
  <form action="{{ post.get_absolute_url }}" method="POST">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Add comment">  <!-- Changed input type to "submit" -->
    </form>
  {% endif %}
{% endblock comment_form %}


{% block similar_posts %}
    <h2>Similar posts</h2>
    {% for post in similar_posts %}
    <p>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </p>
    {% empty %}
    There are no similar posts yet.
    {% endfor %}
{% endblock similar_posts %}
